.right {
   text-align: right;
   float: right;
}

.rightHeading {
   text-emphasis-color: rgb(0, 123, 255);
}

body {
   /* background-image: url("car-service-miami-airport-1024x768cropped.jpg"), url("limofinder-map-miami-beach-1024x404.jpg"); */
   /* background-position: 0 -40px; */
   margin: 0px;
   background-repeat: no-repeat, no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.airport {
   background-image: url("car-service-miami-airport-1024x768cropped.jpg");
   background-color: #cccccc;
   height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}


   