.right {
   text-align: right;
   float: right;
}

.rightHeading {
   text-emphasis-color: rgb(0, 123, 255);
}

.image-stack {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   position: relative;
}

.image-stack__item--top {
   grid-column: 1 / span 16;
   grid-row: 1; 
   padding-top: 37%; 
   z-index: 1; 
}

.image-stack__item--bottom {
   grid-column: 1 / -1;
   grid-row: 1;
}




   